* {
  font-family: "Outfit", serif;
  box-sizing: border-box;
}


/* logo css: DONT CHANGE THIS */
.whiteLoginHolder{
  border-radius: 40px;
  background-color: #FFF;
  width: 207px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.whiteLoginHolder > .logoText{
  font-size: 24px;
  font-family: "Poppins", serif;
  font-weight: bold;
  color: #000;
}